html,
body {
    width: 320px;
    font-family: sans-serif;
}

.STA__header {
    width: 100%;
}

.STA__header h1 {
    font-size: 18px;
    margin-bottom: 5px;
}

.STA__field-group {
    width: 100%;
    font-size: 15px;
    padding: 4px 0px;
}

.STA__field-group input {
    cursor: pointer;
}

.STA__field-group label {
    cursor: pointer;
}

.STA__hidden {
    display: none;
}

#no-permissions {
    margin-top: 8px;
}

.STA__warning-text {
    font-size: 15px;
    font-style: italic;
}

#no-permissions button {
    margin-top: 6px;
}
